<div class="row hei-full">
  <div class="col-md-6 col-md-6 fir-half">
      <div class="row">

      </div>
      <div class="row font-change">
          Manage your branches with complete ease.
      </div>
      <div class="row sec-col">
         Manage your branches with complete ease.
      </div>
      <div class="row third-col">
          NEED HELP? LET US KNOW
      </div>
      <div class="row for-col">
          <strong>9481637136</strong>
      </div>
  </div>
  <div class="col-md-6 col-md-6 sec-half">
      <div class="row">
          <div class="col-md-8 shift-rig">
              <span>Name :</span>
            </div>
            <div class="csol-md-3">
              <input type="text" name="name" class="form-control form-control-sm select-field inputbox-wid">
            </div>
      </div>
      <div class="row">
          <div class="col-md-8 shift-rig">
              <span>Username :</span>
            </div>
            <div class="col-md-3">
              <input type="text" name="user" class="form-control form-control-sm select-field inputbox-wid" >
            </div>
      </div>
      <div class="row">
          <div class="col-md-8 shift-rig">
              <span>Password :</span>
            </div>
            <div class="col-md-3">
              <input type="text" name="Password"  class="form-control form-control-sm select-field inputbox-wid">
            </div>
      </div>
      <div class="row">
            <div class="col-md-4">
              <button class="btn btn-primary inputbox-wid" (click) = "submit()">LOGIN</button>
            </div>
      </div>
  </div>
</div>
